.circle_center {
  position: absolute;
  top:280px;
  display: flex;
  background-color: black;
  width: 180px;
  height: 180px;
  justify-content: center;
  align-items: center;
  border: 2px solid ;
  border-radius: 50%;

}

.circle_center_in {
  display: flex;
  flex-direction: column;
}

.circle_center_input{
  width: 100px;
  font-size: large;
  color: rgba(17, 255, 0, 0.963);
  background-color: black;
  border: none;
  margin-bottom: 20px;
}

.circle_center_input_enter{
  font-size: large;
  background-color: black;
  color: rgba(17, 255, 0, 0.963);
  border: none;
}