#secret{
position: absolute;
top: 97px;
 color: rgba(17, 255, 0, 0.963);
 font-size: 55px;
}
.quiz{
display: flex;
justify-content: center;
align-items: center;

}

.answer{
  background-color: black;
  border: none;
  color: rgba(17, 255, 0, 0.963);
  position: absolute;
  font-size: 20px;
  top:350px;
  text-align: center;
  width: 150px;
}

#codeRoom{
font-weight: bold;
color: white;
position: absolute;
top:400px;

}