@import "reset.css";
@import "circle.css";
@import "time.css";
@import "todo.css";
@import "secret.css";
@import "weatherRing.css";

body {background-color: black;
display: flex;
position: relative;
flex-direction: column;
justify-content: center;
align-items: center;
overflow: hidden;
}

.readme{
  position: absolute;
  top: 40px;
  right: 80px;
  width: 50px;
  height: 50px;
  font-size: 50px;
  animation: tic 0.3s infinite;

}

#greeting{
  text-align: center;
  font-size: 35px;
}
h1 {
  color: rgba(17, 255, 0, 0.963);
  transition: color 0.5s ease-in-out;
}
.active{
  color: chocolate;
}
.cool-font{
  font-family: 'Courier New', Courier, monospace;
}
.hidden {
  display: none;
}

.noClick{
  pointer-events: none;
}

@keyframes tic {
  0%{
    color: rgb(0, 250, 250);
  }

  100%{
    color: white;
  }
}